<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="p-3 mb-2 bg-secondary text-white">
    <div class="container">
        <h1>QR Code Generator</h1>
        
        <form action="/scan" method="POST" class="form">
            <textarea  name="text" id="text" cols="150" rows="10" placeholder="Enter URL or Text" required></textarea>
            <br>
            <button type="submit" class="btn btn-primary">Generate QR Code</button>

        </form>
    </div>
    
</body>
</html>